*{
    margin: 0;
     padding: 0;
    }
    .main{
        background-color:#032b6b;
          color: white;    

    }
    .nav{
        display: flex;
        
        


    }
    .head{
    
        width: 50%;
    }
    .head img{
        
        width:10px ;
    }
    .ol{
        display: flex;
    }
    .ol>li{
        margin: 10px;
        list-style: none;
        justify-content: space-between;

    }.one{
        display: flex;
        justify-content: space-between;
        background-color: black;

    }
    .ok{
        display: flex;
        color: white;
        background-color: black;


    }
    .ok li{
        margin: 10px;
        list-style: none;
        justify-content: space-between;
    }
    .btn{
        align-items: center;
        
    }
    .click{
        background-color: transparent;
        
        color: white;
        border: none;

    }
    .click:hover{
        color: yellow;
    }
    
    .click1{
        background-color: transparent;
        
        color: white;
        border: none;

    }
    .click1:hover{
        color: yellow;
    }
    .per{
        background-color: transparent;
        
        color: white;
        border: none;

    }
    .per:hover{
        color: yellow;
    }
    .adder{
        color: white;
        background-color: transparent;
        margin: 5px;
    }
    .right{
        display: flex;


    }
    .allen{
        background-color: transparent;
        font-size: 30px;
        
        color: black;
        border: none;


    }
    .solly{
        background-color: transparent;
        font-size: 30px;
        
        color: black;
        border: none;
    }
    .carousel-inner{
        height: 100vh;
    }

    /* */
   
    .staffs{
        padding: 5px;
        display: flex;
        /* flex-wrap: wrap; */
        margin: 10px 45px;
        width: 100%;
        justify-content: center;

        
      }
      .staff{
          padding: 10px;
          text-align: center;
          width: 250px;
          
      }
      
      .staff>img{
          width: 200px;
          height: 200px;
          border-radius: 100%;
          
          
      } 
      .child{
        display: flex;
        background-color: rgb(251, 197, 149);

      }
      .child1{
        font-size: 20px;
        margin-right: 15px;
        text-align:left;
        padding: 10px 10px;
      }
      .child2{
        width: 30%;
        height: 30vh;
        margin: 20px;
        
      }
      .child2>img{
        width: 50%;
        /* height: 100vh; */
      }
      .child3{
        background: transparent;
      }
      .logo{
        margin-top: 30px;
        text-align: center;
        
      }
      .h{
        margin-top: 30px;
      }
      .ul{
        margin-top: 60px;
        display: flex;
        justify-content:space-evenly;
        text-align: center;
        list-style: none;
        font-size: medium;
        
      }
      .ig{
        display: flex;
      }
      .lo{
        margin-top: 50px;
        margin-left: 50PX;
        display: flex;
        width: 100%;
        height: 100vh;
        list-style: none;
      }
      .lo img{
        width: 100%;
        height: 70%;
        padding: 10px;
      }
      .hh{
        margin-top: 25px;
        text-align: center;
        }
        .container{
            justify-content: center;
    
            
        }
        .log{
            display: flex;
            justify-content: space-between;
            

            }
        .div{
            display: flex;
            width: 100%;
            height: 70vh;
            /* position: absolute; */
        
        }
        .step1{
            width: 130%;
            height: 90vh;
            margin: 16px 10px;
       padding: 20px 80px 10px; 
    }
    .step1 img{
        width: 90%;
        height: 65vh;
        object-fit: cover;
}
.container2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    }
    .step3{
        width: 100%;
        height: 100vh;
        margin: 10px 10px;
        font-size: 60px;
        z-index:-1;
    }
    .step3 img{
        width: 90%;
        height: 70vh;
        
    }
    .container6{
        background-color: yellow;
        

    }
    .trend{
        background-color:black;
        color: white;
        width: 100%;
        height: 150vh;
    }
    .h4{
        color: yellow;
        text-align: center;
        font-size: 40px;
        

    }
    .tr4{
        list-style: none;
        display: flex;
        justify-content:space-evenly;
        margin-top: 40px;
        text-align: center;
    }
    .rs {
        display: flex;
        text-decoration: line-through;
    }
    .rs1{
        display:flex;
        
    }
    .rs2{
        display:flex;
        color: red;
        
    }
  
        
        
    
            

        
            

      